---
title: Copyright 
keywords: copyright,photos,photographs,photography,blogs
description:	Copyright information for this photoblog.
layout:	about
robots:	index
---

<p>Except where otherwise indicated, all material on this site, including original photographs, is copyright © <%= config[:siteauthorname] %> <%= config[:copyrightyear] %>.</p>
		
<p>If you would like to reproduce or license photographs from the site, please see the <a href="/info/licensing/">licensing</a> page.</p>

