---
title: Licensing 
keywords: licensing,photos,photographs,photography,blogs
description:	Licensing information for this photoblog.
layout:	about
robots:	index
---

<p>Except where otherwise indicated, all material on this site, including original photographs, is copyright © <%= config[:siteauthorname] %> <%= config[:copyrightyear] %>.</p>
		
<p>Licensing photographs from this site for your own use is possible, subject to the following terms.</p>

<p>... your licensing terms go here ...</p>

