<aside class="tags">
	<h2>Tags</h2>
	<ul>
		<% photo.tags.sort_by{|tag,articles| tag.downcase}.each do |tag, articles| %>
			<li><%= link_to tag, tag_path(tag) %></a></li>
		<% end %>
	</ul>
</aside>
