$body-text-color:			#444;
$header-text-color:			#444;
$banner-text-color:			#444;
$slug-text-color:			#888;
$copyright-text-color:		#888;

$section-rule-color:		#BBB;

$tagset-background-color:	#666;
$tagset-text-color:			#EEE;
$tagset-text-hover-color:	#FFF;

$anchor-color:				#736c5c;
$anchor-hover-color:		darken(#736c5c,20);
$anchor-visited-color:		darken(#736c5c,20);

$calendar-inactive-background-color:	#CCC;
$calendar-active-background-color:		#666;